<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Пройдені тести</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
<span th:replace="~{${!isUnregistered} ?
        (${isAdmin} ? 'header/admin-panel' :
            (${isStudent} ? 'header/student-panel' : 'header/tutor-panel'))
        : 'header/unregistered-user-panel'}"></span>
<div class="container mt-5">
  <h2>Пройдені тести</h2>
  <div class="pagination">
    <div class="d-flex flex-column">
      <div>
        <form th:action="@{/test/showFinishedExamPage}" method="get">
          <input type="number" id="pageSize" name="pageSize" min="1">
          <button type="submit" class="btn btn-primary mb-2">Встановити кількість записів на сторінку</button>
        </form>
      </div>
      <div>
        <a th:href="@{/test/showFinishedExamPage(page=${-1})}" class="btn btn-primary" role="button">Попередня сторінка</a>
        <a th:href="@{/test/showFinishedExamPage(page=${1})}" class="btn btn-primary" role="button">Наступна сторінка</a>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Назва тесту</th>
      <th>Дата проходження тесту</th>
      <th>Час проходження тесту</th>
      <th>Кількість балів</th>
      <th>Перегляд результатів</th>
      <th>Перегляд опису тесту та значення результатів</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exam : ${exams}">
      <td th:text="${exam.test.name}"></td>
      <td th:text="${#dates.format(exam.date, 'dd.MM.yyyy')}"></td>
      <td th:text="${#dates.format(exam.date, 'HH:mm')}"></td>
      <td th:text="${exam.result + '/' + exam.maxResult}"></td>
      <td>
        <form th:action="@{/test/showTestResultInfoPage/{examId}(examId=${exam.id})}" method="get" style="display: inline;">
          <button type="submit" class="btn btn-success">Переглянути відповіді на тест</button>
        </form>
      </td>
      <td>
        <form th:action="@{/test/openTestInfo/{testId}(testId=${exam.test.id})}" method="get" style="display: inline;">
          <button type="submit" class="btn btn-success">Значення результатів тесту</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <div th:if="${param.message}" class="alert alert-info" role="alert">
    <p th:text="${param.message}"></p>
  </div>
</div>
</body>
</html>