<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>JuniStar</title>
  <link rel="stylesheet" th:href="@{/css/header-styles.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" th:fragment="tutor-panel">
  <a class="navbar-brand" href="#">JuniStar</a>
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggle-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/showStudentsList}">Перегляд списку студентів</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/showTutorsList}">Перегляд списку викладачів</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/showAddNewTestForm}">Створити новий тест</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/showUncompletedTests}">Тести у розробці</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/showCompletedTests}">Доступні тести</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/registration}">Реєстрація</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/login}">Увійти</a>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>
