<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Інформація по репетитора</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        .tutor-photo {
            width: 150px;
            height: 200px;
            object-fit: cover;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<span th:replace="~{${!isUnregistered} ?
        (${isAdmin} ? 'header/admin-panel' :
            (${isStudent} ? 'header/student-panel' : 'header/tutor-panel'))
        : 'header/unregistered-user-panel'}"></span>
<div class="container mt-5">
    <h2>Інформація по репетитора</h2>
    <p><strong>Середній рейтинг:</strong> <span th:text="${averageRating != null} ? ${averageRating} : 'Без рейтингу'"></span></p>
    <div th:if="${tutor}" class="mb-4">
        <p><strong>Ім'я:</strong> <span th:text="${tutor.name + ' ' + tutor.surname}"></span></p>
        <p><strong>Email:</strong> <span th:text="${tutor.email}"></span></p>
        <img th:src="@{~/tutorphotos/{photo}(photo=${tutor.photo})}" class="tutor-photo" alt="Tutor Photo">
        <p><strong>Написати репетитору:</strong> <a th:href="@{/message/showMessagePage/{receiverId}(receiverId=${tutor.id})}"></a>
        <p><strong>Про репетитора:</strong> <span th:text="${tutor.description}"></span></p>
    </div>
    <div class="container form-container">
        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#writeReviewModal">Написати відгук</button>
    </div>
    <div class="modal fade" id="writeReviewModal" tabindex="-1" role="dialog" aria-labelledby="writeReviewModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="writeReviewModalLabel">Написати відгук</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/student/writeReview}" method="post" th:object="${review}">
                        <div class="form-group">
                            <label for="comment">Відгук</label>
                            <textarea class="form-control" id="comment" name="comment" rows="3" th:field="*{comment}" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="rate">Оцінка</label>
                            <input type="number" class="form-control" id="rate" name="rate" min="1" max="5" th:field="*{rate}" required>
                        </div>
                        <input type="hidden" id="tutorId" name="tutorId" th:value="${tutor.id}" />
                        <button type="submit" class="btn btn-primary">Надіслати</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    &nbsp;
    <div th:if="${param.rateErrorMessage != null or param.commentErrorMessage != null}" class="alert alert-info" role="alert">
        <p th:if="${param.rateErrorMessage != null}" th:text="${param.rateErrorMessage}"></p>
        <p th:if="${param.commentErrorMessage != null}" th:text="${param.commentErrorMessage}"></p>
    </div>
    <div th:each="review : ${tutor.tutorReviews}">
        <p><strong th:text="${review.student.name} + ' ' + ${review.student.surname}"></strong>
            <span th:text="${' ' + review.rate}"></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
            </svg>
        </p>
        <p th:text="${review.comment}"></p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-oiE7/jEuIQNxtqOW5Q6LOvx7LvhZlE80+jB1th7/7VQTK25qKVYDDUEAZD9j8dkY" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>