<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Розклад викладача</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<span th:replace="~{${!isUnregistered} ?
        (${isAdmin} ? 'header/admin-panel' :
            (${isStudent} ? 'header/student-panel' : 'header/tutor-panel'))
        : 'header/unregistered-user-panel'}"></span>
<div class="container mt-5">
  <h2 class="mb-3">Доступні години для бронювання</h2>
  <div class="pagination">
    <div class="d-flex flex-column">
      <div>
        <form th:action="@{/catalog/showTutorSchedule/{tutorId}(tutorId=${tutor.id})}" method="get">
          <input type="number" id="pageSize" name="pageSize" min="1">
          <button type="submit" class="btn btn-primary mb-2">Встановити кількість записів на сторінку</button>
        </form>
      </div>
      <div>
        <a th:href="@{/catalog/showTutorSchedule/{tutorId}(tutorId=${tutor.id}, page=${-1})}" class="btn btn-primary" role="button">Попередня сторінка</a>
        <a th:href="@{/catalog/showTutorSchedule/{tutorId}(tutorId=${tutor.id}, page=${1})}" class="btn btn-primary" role="button">Наступна сторінка</a>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Час початку уроку</th>
      <th scope="col">Час закінчення уроку</th>
      <th scope="col">Ціна</th>
      <th scope="col">Бронювання</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="timeSlot : ${timeSlots}">
      <td th:text="${#dates.format(timeSlot.startTime, 'dd.MM.yyyy')}"></td>
      <td th:text="${#dates.format(timeSlot.startTime, 'HH:mm')}"></td>
      <td th:text="${#dates.format(timeSlot.endTime, 'HH:mm')}"></td>
      <td th:text="${timeSlot.price}"></td>
      <td>
        <form th:action="@{/student/bookLesson/{timeSlotId}(timeSlotId=${timeSlot.id})}" method="post" style="display: inline;">
          <button type="submit" class="btn btn-success">Забронювати урок</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <div th:if="${param.message}" class="alert alert-info" role="alert">
    <p th:text="${param.message}"></p>
  </div>
  <a class="btn btn-secondary" th:href="@{/catalog/showTutorsCatalog}">Показати каталог</a>
</div>
</body>
</html>